/* Assuming the CSS file is named 'styles.css' */
/* Updated CSS with merged original styles and changes */

body {
  font-family: 'Josefin Sans';
  background-color: #FFFAFB;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: auto;
}

.detail-image {
  width: 100%;
  max-width: 729px;
  height: auto;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;

}

.exercise-card {
  width: 100%;
  max-width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .react-horizontal-scrolling-menu--scroll-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    max-width: 280px;
  }
}